* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

a {
    text-decoration: none;
}

.bg-image {
    background-image: url("/img/mountain.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-start-end {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.search-icon {
    margin-left: -2rem;
    margin-bottom: 10px;
    margin-top: 10px;
}

.txt-primary {
    color: #ffffff;
}

.border-none {
    border: none;
}

/* .bg-image-blur {
     filter: blur(1rem);
     -webkit-filter: blur(1rem);
} */

/* canvas */

.bg-transparent {
    background-color: #ffffff00;
}

.rounded-md {
    border-radius: 1.2rem;
}

.bg-clear {
    background-color: #ffffff00;
}

.border-white {
    border: 1px solid white;
}

.opacity {
    opacity: 0.5;
}

/* positioning */

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-evenly {
    justify-content: space-evenly;
}

.item-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.w-40 {
    width: 35%;
}

.w-45 {
    width: 45%;
}

.w-50 {
    width: 50%;
}

.w-70 {
    width: 70%;
}

.h-70 {
    height: 70vh;
}

/* spacing */

.p-half {
    padding: .75rem;
}

.p-1 {
    padding: 1rem;
}

.pt-2 {
    padding-top: 2rem;
}

.px-1 {
    padding-left: .5rem;
    padding-right: .5rem;
}

.px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.px-3 {
    padding-left: 4rem;
    padding-right: 3rem;
}

.mx-2 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-4 {
    margin-top: 4rem;
}

.ml-4 {
    margin-left: 4rem;
}

.m-auto {
    margin: auto;
}